<h1>Order</h1>
<hr>
{{#each orders}}
<li> Sub-order number {{ this._id }}
    <div class="card" style="width: 18rem;">
        <img src="{{this.menuId.imageUrl}}" class="card-img-top" alt="{{this.menuId.title}}">
        <div class="card-body">
            <h5 class="card-title">{{this.menuId.title}}</h5>
            <p class="card-text">{{this.menuId.description}}</p>
            <p class="card-text"> {{this.quantity}} UD x {{this.menuId.price}}€</p>
            <p class="card-text">{{this.menuId.menuOwnerRef}}</p>
</li>
{{/each}}